Repository Adel7418/Status_bot, changes with the labels that .github/labeler.yml gives for each.
All labels: handlers, middleware, services, database, ui, tests, documentation, dependencies, docker, ci/cd, security, migration, configuration

docs: clean up docs folder - move 24 outdated files to archive
  docs/ARCHITECTURE_DIAGRAM.md
  docs/AUDIT_OVERVIEW.md
  docs/AUDIT_SUMMARY.md
  docs/PRODUCTION_DEPLOY.md
  docs/RATE_LIMITING_GUIDE.md
  docs/REDIS_SETUP_GUIDE.md
  docs/RELEASE_COMMANDS.md
  docs/SERVER_DEPLOYMENT.md
  docs/SQLITE_VS_POSTGRESQL_ANALYSIS.md
  docs/STATE_MACHINE_GUIDE.md
  docs/TECHNICAL_RECOMMENDATIONS.md
  docs/archive/AUDIT_FINAL_RESULTS.md
  docs/archive/AUDIT_README.md
  docs/archive/CHANGELOG.md
  docs/archive/CI_CD_FILES_CREATED.md
  docs/archive/CI_CD_IMPLEMENTATION_SUMMARY.md
  docs/archive/CI_CD_QUICK_START.md
  docs/archive/FINAL_SUMMARY.md
  docs/archive/FIX_MIGRATIONS.md
  docs/archive/GIT_COMMIT_INSTRUCTIONS.md
  docs/archive/MONITORING_PRIORITY_ANALYSIS.md
  docs/archive/P0_FIXES_PROGRESS.md
  docs/archive/P0_PROGRESS_UPDATE.md
  docs/archive/PII_PROTECTION_IMPLEMENTATION.md
  docs/archive/PII_QUICK_SUMMARY.md
  docs/archive/PII_README.md
  docs/archive/PRODUCTION_STATUS.md
  docs/archive/QUICK_RATE_LIMITING.md
  docs/archive/QUICK_REDIS_SETUP.md
  docs/archive/QUICK_STATE_MACHINE_SETUP.md
  docs/archive/README.md
  docs/archive/REDIS_URL_SETUP.md
  docs/archive/SAFE_MIGRATION_FIX.md
  docs/archive/STATE_MACHINE_FIXED.md
  docs/archive/VERIFICATION_CHECKLIST.md
Labels: documentation

Fix: calculate_profit_split import error and FSM state for group orders
  app/handlers/group_interaction.py
  app/handlers/master.py
Labels: handlers

fix: ╨╕╤Б╨┐╤А╨░╨▓╨╗╨╡╨╜ ╨╕╨╝╨┐╨╛╤А╤В safe_send_message ╨╕ ╨║╨╛╨╜╤Д╨╕╨│╤Г╤А╨░╤Ж╨╕╤П bandit
  .pre-commit-config.yaml
  app/handlers/dispatcher.py
Labels: handlers, ci/cd

fix: ╨┤╨╛╨▒╨░╨▓╨╗╨╡╨╜╨░ ╨┐╤А╨╛╨▓╨╡╤А╨║╨░ ╤В╨╕╨┐╨░ ╤Б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П ╨┐╤А╨╕ ╨▓╨▓╨╛╨┤╨╡ ╤Б╤А╨╛╨║╨╛╨▓ DR (╨╕╤Б╨┐╤А╨░╨▓╨╗╨╡╨╜╨░ ╨╛╤И╨╕╨▒╨║╨░ ╤Б ╨│╨╛╨╗╨╛╤Б╨╛╨▓╤Л╨╝╨╕ ╤Б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П╨╝╨╕)
  app/handlers/master.py
Labels: handlers

docs: ╨┤╨╛╨▒╨░╨▓╨╗╨╡╨╜╨░ ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨░╤Ж╨╕╤П ╨┐╨╛ ╨┤╨╛╤Б╤В╤Г╨┐╤Г ╨┤╨╕╤Б╨┐╨╡╤В╤З╨╡╤А╨╛╨▓ ╨║ ╨╛╤В╤З╨╡╤В╨░╨╝ + ╤Б╨║╤А╨╕╨┐╤В ╨┐╤А╨╛╨▓╨╡╤А╨║╨╕ ╤А╨╛╨╗╨╡╨╣
  app/handlers/financial_reports.py
  docs/DISPATCHER_REPORTS_ACCESS.md
  scripts/check_user_role.py
Labels: handlers, documentation

fix: ╨╕╤Б╨┐╤А╨░╨▓╨╗╨╡╨╜╨╛ ╨╗╨╛╨│╨╕╤А╨╛╨▓╨░╨╜╨╕╨╡ - ╤В╨╡╨┐╨╡╤А╤М ╨║╨╕╤А╨╕╨╗╨╗╨╕╤Ж╨░ ╨▓╨╕╨┤╨╜╨░ ╨▓ ╨╗╨╛╨│╨░╤Е
  app/middlewares/logging.py
Labels: middleware

fix: ╨┤╨╛╨▒╨░╨▓╨╗╨╡╨╜╨╛ ╤Г╨▓╨╡╨┤╨╛╨╝╨╗╨╡╨╜╨╕╨╡ ╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╤О ╨┐╤А╨╕ ╨╛╤В╤Б╤Г╤В╤Б╤В╨▓╨╕╨╕ ╨┤╨╛╤Б╤В╤Г╨┐╨░ + ╤Б╨║╤А╨╕╨┐╤В ╤Г╤Б╤В╨░╨╜╨╛╨▓╨║╨╕ ╤А╨╛╨╗╨╡╨╣
  app/decorators.py
  scripts/set_user_role.py
Labels: none

feat(orm): Add SQLAlchemy ORM with 40+ methods and MyPy fixes
  .pre-commit-config.yaml
  README_ИСТОРИЯ.md
  app/database/db.py
  app/services/reports_service.py
  commit_message.txt
  commit_msg.txt
  docs/ЛИСТ_МАСТЕРА_ЗАЯВКИ.md
  test_reports.py
  ГОТОВО_ПОЛНАЯ_ВЕРСИЯ.md
  ИТОГОВАЯ_СПРАВКА.md
  ФИНАЛЬНАЯ_ВЕРСИЯ.md
Labels: services, database, documentation, ci/cd

feat: optimize reports - file updates and master selection
  ORM_ГОТОВО.md
  PERMANENT_STORAGE_README.md
  README_ИСТОРИЯ.md
  SUMMARY_PERMANENT_STORAGE.md
  app/handlers/financial_reports.py
  app/services/excel_export.py
  app/services/reports_service.py
  docs/ОТЧЕТЫ_СИСТЕМА.md
  mypy_errors.txt
  mypy_report.txt
  scripts/test_excel_report.py
  test_reports.py
  БЫСТРАЯ_СПРАВКА_ИСТОРИЯ.md
  БЫСТРЫЙ_СТАРТ.md
  ГОТОВО_ПОЛНАЯ_ВЕРСИЯ.md
  ДОРАБОТКА_СИСТЕМЫ_ГОТОВО.md
  ИСТОРИЯ_В_ОТЧЕТАХ_ГОТОВО.md
  ИТОГОВАЯ_СПРАВКА.md
  СПИСОК_ИЗМЕНЕНИЙ.md
  ФИНАЛЬНАЯ_ВЕРСИЯ.md
  ФИНАЛЬНАЯ_СВОДКА.md
Labels: handlers, services, documentation

docs: add final reports documentation
  docs/ОТЧЕТЫ_ФИНАЛ.md
Labels: documentation

fix: add notification to dispatcher when master closes order
  app/handlers/master.py
Labels: handlers

style: apply pre-commit hook formatting fixes
  app/database/orm_database.py
  app/handlers/dispatcher.py
  app/keyboards/inline.py
Labels: handlers, database, ui

fix: add master_name and dispatcher_name properties to ORM Order model
  app/database/orm_models.py
Labels: database

fix: add ORM compatibility for master.username access in dispatcher handlers
  app/handlers/dispatcher.py
Labels: handlers

fix: add ORM compatibility for master.username in scheduler service
  app/services/scheduler.py
Labels: services

fix: add ORM method for unassigning master from order
  app/database/orm_database.py
  app/handlers/dispatcher.py
Labels: handlers, database

fix: add ORM compatibility for unassigning master in master and group handlers
  app/handlers/group_interaction.py
  app/handlers/master.py
Labels: handlers

docs: add migration safety guide and update Makefile
  Makefile
  app/database/db.py
  app/database/models.py
  app/keyboards/inline.py
  app/services/master_reports.py
  docs/ORM_ВКЛЮЧЕН.md
  docs/ORM_ГОТОВНОСТЬ.md
  docs/ORM_ИСПРАВЛЕНИЯ.md
  docs/ORM_СНЯТИЕ_МАСТЕРА.md
  docs/МИГРАЦИИ_С_ОСТАНОВКОЙ.md
  migrations/versions/010_create_master_reports_archive.py
Labels: services, database, ui, documentation, ci/cd, migration

docs: add quick migration reference
  МИГРАЦИИ_КРАТКО.md
Labels: documentation

fix: add has_review and out_of_city parameters to ORM update_order_amounts
  app/database/orm_database.py
Labels: database

fix: add local backup command and improve Makefile backup commands
  Makefile
Labels: ci/cd

fix: Docker backup support with DATABASE_PATH env variable
  Makefile
  scripts/backup_db.py
Labels: ci/cd

fix: make prod-backup work from any directory structure
  Makefile
Labels: ci/cd

fix: make prod commands work from project root with docker subdir
  Makefile
Labels: ci/cd

docs: consolidate backup and deploy docs into single file
  BACKUP_И_ДЕПЛОЙ.md
Labels: documentation

fix: simplify prod-backup to use direct docker exec
  Makefile
Labels: ci/cd

docs: update backup documentation
  BACKUP_И_ДЕПЛОЙ.md
Labels: documentation

fix: add verbose output to backup script
  scripts/backup_db.py
Labels: none

docs: consolidate all ORM and deployment docs into single file
  ORM_И_ДЕПЛОЙ_ГОТОВО.md
  docs/ORM_ВКЛЮЧЕН.md
  docs/ORM_ГОТОВНОСТЬ.md
  docs/ORM_ИСПРАВЛЕНИЯ.md
  docs/ORM_СНЯТИЕ_МАСТЕРА.md
  docs/МИГРАЦИИ_С_ОСТАНОВКОЙ.md
  МИГРАЦИИ_КРАТКО.md
Labels: documentation

fix: remove PostgreSQL-specific migrations for SQLite compatibility
  BACKUP_И_ДЕПЛОЙ.md
  app/handlers/master.py
  app/services/master_reports.py
  docs/SQLITE_MIGRATIONS_FIX.md
  migrations/versions/007_add_constraints_and_validation.py
  migrations/versions/008_add_soft_delete.py
  migrations/versions/009_postgresql_optimization.py
  migrations/versions/010_create_master_reports_archive.py
  scripts/apply_sqlite_migrations.py
Labels: handlers, services, database, documentation, migration

feat: add natural language date parsing for Russian
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/utils/__init__.py
  app/utils/date_parser.py
  requirements.txt
Labels: handlers, dependencies

fix: use env.production and remove hardcoded LOG_LEVEL and DEV_MODE from docker-compose
  docker/docker-compose.prod.yml
Labels: docker

v2.1.0: Fix get_orders_by_master bug and enable ORM by default
  CHANGELOG.md
  VERSION
  app/database/orm_database.py
  app/handlers/master.py
Labels: handlers, database, documentation

config: add missing parameters to env.production - Added USE_ORM, SLA_CHECK_INTERVAL, REMINDER_INTERVAL to production config
  env.production
Labels: none

config: update env.example with USE_ORM for development - Added USE_ORM=true and other modern parameters to env.example template
  .env.backup
  .env.old
  app/database/orm_database.py
  app/database/orm_models.py
  app/services/master_reports.py
  env.example
  env.production
  migrations/env.py
  migrations/versions/10ff87cace39_rename_master_reports_archive_table.py
  migrations/versions/177152cb46fa_add_missing_indexes.py
  scripts/check_and_stamp_migration.py
  scripts/check_null_timestamps.py
  scripts/check_schema.py
  scripts/check_tables.py
  scripts/cleanup_migration.py
  scripts/create_missing_indexes.py
  scripts/fix_alembic_version.py
  scripts/get_fk_names.py
  ЗАПУСК_DOCKER.md
Labels: services, database, documentation, migration, configuration

config: update env.production - Set USE_ORM=false, BOT_TOKEN empty for security
  env.production
Labels: none

fix: remove broken work_chat_id in row check in aiosqlite
  app/database/db.py
Labels: database

fix: РёСЃРїРѕР»СЊР·РѕРІР°С‚СЊ .env РІРјРµСЃС‚Рѕ env.production РІ docker-compose
  docker/docker-compose.prod.yml
Labels: docker

fix: РёСЃРїРѕР»СЊР·РѕРІР°С‚СЊ Р°РІС‚РѕРјР°С‚РёС‡РµСЃРєРёР№ .env РІРјРµСЃС‚Рѕ env_file
  docker/docker-compose.prod.yml
Labels: docker

Update production config and add recovery instructions
  env.production
  scripts/check_masters_groups.py
  scripts/fix_masters_groups_interactive.py
  scripts/fix_permissions.sh
  БЫСТРОЕ_ВОССТАНОВЛЕНИЕ.md
  ИНСТРУКЦИЯ_ВОССТАНОВЛЕНИЕ_ПОСЛЕ_PROD_CLEAN.md
  ИНСТРУКЦИЯ_НАСТРОЙКА_ГРУПП.md
  ИСПРАВЛЕНИЕ_ПРАВ_ДОСТУПА.md
  КРАТКАЯ_ИНСТРУКЦИЯ.txt
  ПРОВЕРКА_НА_СЕРВЕРЕ.md
  РЕШЕНИЕ_ПРОБЛЕМЫ_ГРУПП.md
Labels: documentation

.github/labeler.yml:

# Автоматическая маркировка Pull Requests на основе измененных файлов

# Handlers
'handlers':
  - changed-files:
    - any-glob-to-any-file: 'app/handlers/**/*'

# Middleware
'middleware':
  - changed-files:
    - any-glob-to-any-file: 'app/middlewares/**/*'

# Services
'services':
  - changed-files:
    - any-glob-to-any-file: 'app/services/**/*'

# Database
'database':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/database/**/*'
      - 'migrations/**/*'

# UI/Keyboards
'ui':
  - changed-files:
    - any-glob-to-any-file: 'app/keyboards/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'pyproject.toml'
      - 'setup.py'

# Docker
'docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/utils/pii_masking.py'
      - 'app/middlewares/rate_limit.py'

# Migrations
'migration':
  - changed-files:
    - any-glob-to-any-file: 'migrations/versions/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/config.py'
      - 'app/core/config.py'
      - 'alembic.ini'
      - '.env*'

# Breaking change (по ключевым словам в заголовке)
'breaking-change':
  - head-branch: ['^breaking/', '^major/']
