Repository Adel7418/Status_bot, changes with the labels that .github/labeler.yml gives for each.
All labels: handlers, middleware, services, database, ui, tests, documentation, dependencies, docker, ci/cd, security, migration, configuration

debug: add detailed role logging in cmd_start handler
  app/handlers/common.py
Labels: handlers

debug: add entry logging to RoleCheckMiddleware __call__
  app/middlewares/role_check.py
Labels: middleware

chore: remove debug logging, keep only important role update messages
  app/database/db.py
  app/database/orm_database.py
  app/handlers/common.py
  app/middlewares/role_check.py
Labels: handlers, middleware, database

feat: remove master lead name step from order creation and allow admin to work as master
  app/handlers/common.py
  app/handlers/dispatcher.py
  app/handlers/master.py
Labels: handlers

Add master notification when visit rescheduled from admin panel
  app/handlers/master.py
Labels: handlers

Fix: Send master reschedule notification to group chat instead of private
  app/handlers/master.py
Labels: handlers

fix(sla): prevent duplicate group notifications; send only once per order, keep dispatcher alerts as-is
  app/services/scheduler.py
Labels: services

Revert "fix(sla): prevent duplicate group notifications; send only once per order, keep dispatcher alerts as-is"
  app/services/scheduler.py
Labels: services

Release v2.5.0: Major architectural refactoring
  .coverage
  START.bat
  START_city1.bat
  START_city2.bat
  TODO.md
  VERIFICATION_REPORT.md
  app/core/config.py
  app/handlers/admin.py
  app/handlers/admin_history.py
  app/handlers/developer.py
  app/handlers/dispatcher.py
  app/handlers/financial_reports.py
  app/handlers/group_interaction.py
  app/handlers/master.py
  app/handlers/order_edit.py
  app/middlewares/__init__.py
  app/middlewares/dependency_injection.py
  app/presenters/__init__.py
  app/presenters/master_presenter.py
  app/presenters/order_presenter.py
  app/repositories/exceptions.py
  app/repositories/order_repository_extended.py
  app/services/excel/__init__.py
  app/services/excel/formatter.py
  app/services/excel/styles.py
  bot.py
  docker_migrate.sh
  docker_migrate_multibot.sh
  docs/CHANGELOG.md
  docs/CODE_AUDIT_2025.md
  docs/PRESENTERS_IMPLEMENTATION_GUIDE.md
  docs/REFACTORING_PLAN.md
  docs/TESTING_HANDLERS.md
  restart_bot.bat
  start.sh
  tests/unit/test_presenters.py
  tests/unit/test_pydantic_schemas.py
Labels: handlers, middleware, services, tests, documentation, configuration

feat: Send master notifications to work group instead of personal messages
  app/handlers/admin.py
  app/handlers/dispatcher.py
  app/handlers/master.py
Labels: handlers

fix: Add logging for message deletion during order creation
  app/handlers/dispatcher.py
Labels: handlers

fix: Filter out deleted orders from all order listing methods
  app/database/db.py
  app/database/orm_database.py
Labels: database

Fix: Исправлена ошибка базы данных в статистике мастеров
  app/services/excel_export.py
  app/services/reports_service.py
  docs/FIX_MASTER_STATISTICS_2025-11-17.md
Labels: services, documentation

Fix: Исправлена ошибка ORMDatabase в financial_reports.py
  app/handlers/financial_reports.py
Labels: handlers

Docs: Обновлена документация по исправлению статистики мастеров
  docs/FIX_MASTER_STATISTICS_2025-11-17.md
Labels: documentation

fix: Add refuse_reason to allowed_fields and fix ruff linter error
  app/database/orm_database.py
Labels: database

fix: Display actual refuse reason in notifications instead of generic text
  app/handlers/master.py
Labels: handlers

feat: Show total_amount in refusal notifications when amount > 0
  app/handlers/master.py
Labels: handlers

feat: Add refuse_reason column to individual master Excel reports
  app/services/master_reports.py
Labels: services

fix: Ensure both sheets are created in master Excel report
  app/services/master_reports.py
Labels: services

fix: Force delete old master report before creating new one
  app/services/master_reports.py
Labels: services

fix: Add refuse_reason column to correct master Excel report (excel_export.py)
  app/services/excel_export.py
Labels: services

feat: Add two sheets to admin master Excel report
  app/services/excel_export.py
Labels: services

fix: удалены дублирующиеся импорты Alignment в excel_export.py
  app/services/excel_export.py
Labels: services

fix: использование прямого доступа вместо .get() для sqlite3.Row
  app/services/excel_export.py
Labels: services

feat: переносим заголовки отчетов из A1 в E1
  app/services/excel_export.py
Labels: services

feat: удалена колонка 'Причина отказа' из листа 'Активные заявки'
  app/services/excel_export.py
Labels: services

refactor: упрощен лист 'Активные заявки' - удалена статистика и финансовые колонки
  app/services/excel_export.py
Labels: services

feat: добавлен блок статистики в лист 'Завершенные заявки'
  app/services/excel_export.py
Labels: services

fix: итоговые суммы теперь на той же строке что и 'ИТОГО:'
  app/services/excel_export.py
Labels: services

docs: обновлен CHANGELOG.md - добавлена версия v2.6.1 с улучшениями Excel-отчетов
  docs/CHANGELOG.md
Labels: documentation

fix: scheduler backup timezone and missing method errors
  app/database/db.py
  app/database/orm_database.py
  app/services/scheduler.py
Labels: services, database

feat: add multibot backup commands to Makefile
  Makefile
Labels: ci/cd

Refactor Excel exports and reporting pipeline
  app/database/__init__.py
  app/handlers/developer.py
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/repositories/order_repository_extended.py
  app/services/active_orders_export.py
  app/services/excel/formatter.py
  app/services/excel/styles.py
  app/services/excel_export.py
  app/services/master_reports.py
  app/services/master_reports_detailed.py
  app/services/order_reports.py
  app/services/reports.py
  app/services/reports_service.py
  app/services/scheduler.py
  docs/EXCEL_EXPORT_VALIDATION_PROMPT.md
  docs/EXCEL_VALIDATION_REPORT_2025-11-17.md
  docs/PRECOMMIT_MYPY_GLOBAL_PLAN_2025-11-18.md
  docs/PRECOMMIT_REFACTOR_PLAN_2025-11-18.md
Labels: handlers, services, database, documentation

fix(ci): fix CI errors - Ruff ASYNC rules and MyPy Row.get()
  RESTART_city1.bat
  START_city1.bat
  VERIFICATION_REPORT.md
  app/database/db.py
  pyproject.toml
  start_city1.ps1
Labels: database, documentation, dependencies

fix(ci): add both ASYNC101 and ASYNC230 noqa for pre-commit compatibility
  pyproject.toml
Labels: dependencies

fix(ci): use generic noqa for ASYNC file operations compatibility
  pyproject.toml
Labels: dependencies

fix(ci): remove ASYNC101 from per-file-ignores (not supported in Ruff 0.8.3)
  .pre-commit-config.yaml
  app/handlers/financial_reports.py
  app/services/reports_service.py
  pyproject.toml
Labels: handlers, services, dependencies, ci/cd

style: apply ruff format to 16 files
  app/core/__init__.py
  app/handlers/master.py
  app/keyboards/inline.py
  app/middlewares/__init__.py
  app/middlewares/error_handler.py
  app/middlewares/role_check.py
  app/presenters/order_presenter.py
  app/schemas/__init__.py
  app/schemas/master.py
  app/schemas/order.py
  app/services/excel/__init__.py
  app/services/excel_export.py
  app/services/realtime_daily_table.py
  app/utils/__init__.py
  app/utils/retry.py
  create_order_reports_table.py
Labels: handlers, middleware, services, ui

fix(ci): resolve alembic version conflict (1.13.1 -> 1.16.5)
  requirements-dev.txt
  requirements.txt
Labels: dependencies

.github/labeler.yml:

# Автоматическая маркировка Pull Requests на основе измененных файлов

# Handlers
'handlers':
  - changed-files:
    - any-glob-to-any-file: 'app/handlers/**/*'

# Middleware
'middleware':
  - changed-files:
    - any-glob-to-any-file: 'app/middlewares/**/*'

# Services
'services':
  - changed-files:
    - any-glob-to-any-file: 'app/services/**/*'

# Database
'database':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/database/**/*'
      - 'migrations/**/*'

# UI/Keyboards
'ui':
  - changed-files:
    - any-glob-to-any-file: 'app/keyboards/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'pyproject.toml'
      - 'setup.py'

# Docker
'docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/utils/pii_masking.py'
      - 'app/middlewares/rate_limit.py'

# Migrations
'migration':
  - changed-files:
    - any-glob-to-any-file: 'migrations/versions/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/config.py'
      - 'app/core/config.py'
      - 'alembic.ini'
      - '.env*'

# Breaking change (по ключевым словам в заголовке)
'breaking-change':
  - head-branch: ['^breaking/', '^major/']
