Repository Adel7418/Status_bot, changes with the labels that .github/labeler.yml gives for each.
All labels: handlers, middleware, services, database, ui, tests, documentation, dependencies, docker, ci/cd, security, migration, configuration

.github/labeler.yml:

# Автоматическая маркировка Pull Requests на основе измененных файлов

# Handlers
'handlers':
  - changed-files:
    - any-glob-to-any-file: 'app/handlers/**/*'

# Middleware
'middleware':
  - changed-files:
    - any-glob-to-any-file: 'app/middlewares/**/*'

# Services
'services':
  - changed-files:
    - any-glob-to-any-file: 'app/services/**/*'

# Database
'database':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/database/**/*'
      - 'migrations/**/*'

# UI/Keyboards
'ui':
  - changed-files:
    - any-glob-to-any-file: 'app/keyboards/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'pyproject.toml'
      - 'setup.py'

# Docker
'docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/utils/pii_masking.py'
      - 'app/middlewares/rate_limit.py'

# Migrations
'migration':
  - changed-files:
    - any-glob-to-any-file: 'migrations/versions/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/config.py'
      - 'app/core/config.py'
      - 'alembic.ini'
      - '.env*'

# Breaking change (по ключевым словам в заголовке)
'breaking-change':
  - head-branch: ['^breaking/', '^major/']

feat: add docker migration script for multibot deployment
  docker_migrate_multibot.sh
Labels: none

fix: remove auto table creation, require alembic migrations for schema changes
  app/database/orm_database.py
Labels: database

fix: add image rebuild step to multibot migration script
  docker_migrate_multibot.sh
Labels: none

fix: use inspector.has_table for proper table existence check in migration
  migrations/versions/45a8674c6c41_add_master_lead_name_to_orders.py
Labels: database, migration

fix: add manual column check and fix for master_lead_name in migration script
  docker_migrate_multibot.sh
Labels: none

feat: add client info to group notification when client calls master
  app/handlers/dispatcher.py
Labels: handlers

fix: Р°РІС‚РѕРјР°С‚РёС‡РµСЃРєРѕРµ РѕРїСЂРµРґРµР»РµРЅРёРµ СЂРѕР»Рё MASTER РёР· С‚Р°Р±Р»РёС†С‹ masters РїСЂРё РїРѕР»СѓС‡РµРЅРёРё РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ
  app/database/orm_database.py
Labels: database

chore: РѕР±РЅРѕРІР»РµРЅС‹ РєРѕРјР°РЅРґС‹ Makefile - РґРѕР±Р°РІР»РµРЅС‹ СѓС‚РёР»РёС‚С‹, РјРёРіСЂР°С†РёРё РґР»СЏ production Рё git РєРѕРјР°РЅРґС‹
  Makefile
Labels: ci/cd

fix: РёСЃРїСЂР°РІР»РµРЅРѕ СѓРґР°Р»РµРЅРёРµ РјР°СЃС‚РµСЂР° - РґРѕР±Р°РІР»РµРЅРѕ СЏРІРЅРѕРµ СѓРґР°Р»РµРЅРёРµ СЃРІСЏР·Р°РЅРЅС‹С… Р·Р°РїРёСЃРµР№ РёР· master_report_archives Рё order_group_messages
  Makefile
  app/database/orm_database.py
Labels: database, ci/cd

chore: РёР·РјРµРЅРµРЅ СѓСЂРѕРІРµРЅСЊ Р»РѕРіРёСЂРѕРІР°РЅРёСЏ СЃРѕРѕР±С‰РµРЅРёСЏ Рѕ РјРёРіСЂР°С†РёСЏС… СЃ INFO РЅР° DEBUG
  app/database/orm_database.py
Labels: database

Fix: button accept order, notifications, multibot support, DB schema fixes
  app/core/config.py
  app/handlers/dispatcher.py
  app/handlers/group_interaction.py
  app/services/scheduler.py
  env.city1
Labels: handlers, services, configuration

Fix: date and time in reminders and completion date formatting
  app/handlers/master.py
  app/services/scheduler.py
  app/utils/__init__.py
  app/utils/date_parser.py
Labels: handlers, services

Fix: improve year validation and date parsing for relative dates
  app/utils/date_parser.py
Labels: none

Feat: add Alembic migration to create order_reports table; add fallback script for direct SQLite creation
  create_order_reports_table.py
  docs/Памятка_Авито_ремонт_техники.docx
  migrations/versions/77f5626ac688_add_order_reports_table.py
  scripts/generate_avito_infographic_memo.py
Labels: database, documentation, migration

Fix(migration): guard dropping master_archives with existence check to avoid OperationalError
  migrations/versions/77f5626ac688_add_order_reports_table.py
Labels: database, migration

Fix(migration): guard audit_log drops/indices by inspector to support fresh DBs
  migrations/versions/77f5626ac688_add_order_reports_table.py
Labels: database, migration

Fix(migration): guard all batch_alter_table blocks with table existence checks (entity_history, financial_reports, master_* , orders, users, etc.)
  migrations/versions/77f5626ac688_add_order_reports_table.py
Labels: database, migration

Fix(migration): fix indentation in guarded with-blocks to resolve IndentationError
  migrations/versions/77f5626ac688_add_order_reports_table.py
Labels: database, migration

Feat(admin edit): add field selection UI; compute profits; upsert order_reports after edits; admin override for completion sum input; restart city1 planned
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/services/order_reports.py
  app/states.py
Labels: handlers, services

Fix(admin edit): partial updates only; safe net calculation; robust audit + result output
  app/handlers/dispatcher.py
Labels: handlers

РСЃРїСЂР°РІР»РµРЅ РїРµСЂРµСЃС‡РµС‚ РїСЂРёР±С‹Р»Рё РїСЂРё СЂРµРґР°РєС‚РёСЂРѕРІР°РЅРёРё Р·Р°РєСЂС‹С‚С‹С… Р·Р°РєР°Р·РѕРІ
  app/handlers/dispatcher.py
Labels: handlers

РЈР»СѓС‡С€РµРЅР° РёРЅРёС†РёР°Р»РёР·Р°С†РёСЏ FSM РїСЂРё СЂРµРґР°РєС‚РёСЂРѕРІР°РЅРёРё Р·Р°РєСЂС‹С‚С‹С… Р·Р°РєР°Р·РѕРІ РґР»СЏ РєРѕРЅСЃРёСЃС‚РµРЅС‚РЅРѕСЃС‚Рё СЂР°СЃС‡РµС‚РѕРІ
  app/handlers/dispatcher.py
Labels: handlers

Fix: Added support for DD.MM.YYYY HH:MM date format in auto-detection
  app/utils/date_parser.py
Labels: none

feat: РґРѕР±Р°РІР»РµРЅР° СЃС‚Р°С‚РёСЃС‚РёРєР° РїРѕ С‚РёРїР°Рј С‚РµС…РЅРёРєРё РІРѕ РІСЃРµ РѕС‚С‡РµС‚С‹
  app/database/orm_database.py
  app/database/orm_models.py
  app/handlers/admin.py
  app/handlers/common.py
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/keyboards/inline.py
  app/services/financial_reports.py
  app/services/reports.py
  app/services/reports_service.py
  app/services/scheduler.py
  app/states.py
  app/utils/date_parser.py
  app/utils/helpers.py
  docs/CHANGELOG.md
  docs/equipment_statistics_example.md
  migrations/versions/a0752cb417aa_add_specialization_rates_table.py
  scripts/create_order_reports_city1.py
Labels: handlers, services, database, ui, documentation, migration

Add equipment type statistics to master reports and migration for equipment_type column
  Makefile
  app/services/master_reports_detailed.py
  docs/SERVER_MIGRATION_FIX.md
  docs/SERVER_MIGRATION_ORDER_REPORTS.md
  migrations/versions/add_equipment_type_to_orders.py
  scripts/check_equipment_type_column.py
  scripts/check_equipment_type_column_city2.py
  scripts/create_order_reports_city2.py
Labels: services, database, documentation, ci/cd, migration

Fix migration order: add_equipment_type_to_orders should come after a0752cb417aa
  migrations/versions/add_equipment_type_to_orders.py
Labels: database, migration

Add scripts to create specialization_rates table for city1 and city2
  docs/CITY2_EQUIPMENT_TYPE_FIX.md
  scripts/create_specialization_rates_city1.py
  scripts/create_specialization_rates_city2.py
Labels: documentation

fix: РСЃРїСЂР°РІР»РµРЅР° СЂР°Р±РѕС‚Р° РјРёРіСЂР°С†РёР№ Alembic СЃ РїРµСЂРµРјРµРЅРЅРѕР№ DATABASE_PATH РґР»СЏ Docker
  migrations/env.py
  scripts/create_specialization_rates_city1.py
  scripts/create_specialization_rates_city2.py
Labels: database

fix: Add explicit names to foreign key constraints - Add explicit names to foreign key constraints in master_financial_reports - Fix ValueError: Constraint must have a name when creating foreign keys
  migrations/versions/77f5626ac688_add_order_reports_table.py
Labels: database, migration

fix: Handle all columns in masters table migration - Add handling for telegram_id and version columns - Only alter table if indexes are missing - Fix CompileError with NullType for TIMESTAMP column
  migrations/versions/77f5626ac688_add_order_reports_table.py
Labels: database, migration

fix: Add index existence checks before creating in order_status_history - Check if indexes exist before creating them - Fix OperationalError: index idx_status_history_changed_at already exists
  migrations/versions/77f5626ac688_add_order_reports_table.py
Labels: database, migration

fix: Add index existence checks before creating in orders table - Check if indexes exist before creating them - Fix OperationalError: index idx_orders_deleted_at already exists
  migrations/versions/77f5626ac688_add_order_reports_table.py
Labels: database, migration

fix: Add index existence check before creating in users table - Check if idx_users_deleted_at exists before creating it - Fix OperationalError: index idx_users_deleted_at already exists
  migrations/versions/77f5626ac688_add_order_reports_table.py
Labels: database, migration

docs: update CHANGELOG for v2.4.4 (equipment stats, 50-50, UX, alembic fixes)
  docs/CHANGELOG.md
Labels: documentation

fix: update order status and user roles auto-update
  app/database/__init__.py
  app/database/db.py
  app/database/orm_database.py
  app/handlers/developer.py
  app/handlers/master.py
  app/keyboards/reply.py
  app/repositories/order_repository_extended.py
  app/services/order_reports.py
  app/services/reports.py
  app/services/scheduler.py
  app/utils/retry.py
  docs/CHANGELOG.md
Labels: handlers, services, database, ui, documentation

fix: improve role update logging and change log level to INFO
  app/database/db.py
  app/database/orm_database.py
Labels: database

fix: refresh user object after role update and add detailed logging
  app/database/db.py
  app/database/orm_database.py
Labels: database

fix: add detailed logging to role check middleware
  app/middlewares/role_check.py
Labels: middleware

fix: add entry logging to get_or_create_user for debugging
  app/database/db.py
  app/database/orm_database.py
Labels: database

chore: apply pre-commit hook fixes (formatting and linting)
  app/database/__init__.py
  app/handlers/developer.py
  app/repositories/order_repository_extended.py
  app/services/excel_export.py
  app/services/master_archive_service.py
  app/services/order_reports.py
  app/services/order_search.py
  app/services/scheduler.py
  app/utils/retry.py
Labels: handlers, services, database
