Repository Adel7418/Status_bot, changes with the labels that .github/labeler.yml gives for each.
All labels: handlers, middleware, services, database, ui, tests, documentation, dependencies, docker, ci/cd, security, migration, configuration

.github/labeler.yml:

# Автоматическая маркировка Pull Requests на основе измененных файлов

# Handlers
'handlers':
  - changed-files:
    - any-glob-to-any-file: 'app/handlers/**/*'

# Middleware
'middleware':
  - changed-files:
    - any-glob-to-any-file: 'app/middlewares/**/*'

# Services
'services':
  - changed-files:
    - any-glob-to-any-file: 'app/services/**/*'

# Database
'database':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/database/**/*'
      - 'migrations/**/*'

# UI/Keyboards
'ui':
  - changed-files:
    - any-glob-to-any-file: 'app/keyboards/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'pyproject.toml'
      - 'setup.py'

# Docker
'docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/utils/pii_masking.py'
      - 'app/middlewares/rate_limit.py'

# Migrations
'migration':
  - changed-files:
    - any-glob-to-any-file: 'migrations/versions/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/config.py'
      - 'app/core/config.py'
      - 'alembic.ini'
      - '.env*'

# Breaking change (по ключевым словам в заголовке)
'breaking-change':
  - head-branch: ['^breaking/', '^major/']

style: apply black and ruff format to all files, fix line endings
  .coverage
  app/database/__init__.py
  app/database/db.py
  app/handlers/admin.py
  app/services/excel_export.py
  app/services/financial_reports.py
  app/services/master_reports.py
  app/services/order_search.py
  scripts/apply_refuse_reason_migration.py
  scripts/backup_db.py
  scripts/check_database.py
  scripts/check_equipment_type_column.py
  scripts/check_equipment_type_column_city2.py
  scripts/check_tables.py
  scripts/check_user_role.py
  scripts/cleanup_alembic_temp_tables_city1.py
  scripts/cleanup_alembic_temp_tables_city2.py
  scripts/create_order_reports_city1.py
  scripts/create_order_reports_city2.py
  scripts/create_specialization_rates_city1.py
  scripts/create_specialization_rates_city2.py
  scripts/fix_alembic_version_city1.py
  scripts/fix_alembic_version_city2.py
  scripts/parse_telegram_export.py
  scripts/prepare_volumes.py
  scripts/set_user_role.py
  scripts/test_handlers_realtime.py
  scripts/verify_refuse_reason_column.py
  tests/unit/test_order_repository.py
  tests/unit/test_pii_masking.py
  tests/unit/test_presenters.py
  tests/unit/test_pydantic_schemas.py
  tests/unit/test_scheduled_time.py
Labels: handlers, services, database, tests

style: fix CI failures - apply black and ruff formatting, fix database tests
  .github/workflows/lint.yml
  app/database/orm_database.py
  app/utils/date_parser.py
  pyproject.toml
  scripts/apply_refuse_reason_migration.py
  scripts/check_equipment_type_column.py
  scripts/check_equipment_type_column_city2.py
  scripts/check_tables.py
  scripts/check_user_role.py
  scripts/cleanup_alembic_temp_tables_city1.py
  scripts/cleanup_alembic_temp_tables_city2.py
  scripts/create_order_reports_city1.py
  scripts/create_order_reports_city2.py
  scripts/create_specialization_rates_city1.py
  scripts/create_specialization_rates_city2.py
  scripts/fix_alembic_version_city1.py
  scripts/fix_alembic_version_city2.py
  scripts/generate_avito_infographic_memo.py
  scripts/parse_telegram_export.py
  scripts/prepare_volumes.py
  scripts/restore_order_manually.py
  scripts/set_user_role.py
  scripts/test_handlers_realtime.py
  tests/conftest.py
  tests/integration/test_database.py
  tests/unit/test_order_repository.py
  tests/unit/test_presenters.py
Labels: database, tests, dependencies, ci/cd

style: apply black formatting (bypass pre-commit to avoid ruff formatter conflict)
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/services/order_reports.py
  app/services/reports.py
Labels: handlers, services

fix(mypy): add type guards for union types
  app/database/db.py
  app/database/orm_database.py
  app/services/scheduler.py
Labels: services, database

fix(mypy): add type guards for None checks in dispatcher.py
  app/handlers/dispatcher.py
Labels: handlers

style: apply ruff formatter formatting
  app/handlers/master.py
  app/services/order_reports.py
  app/services/reports.py
Labels: handlers, services

style: disable ruff-format in pre-commit, use Black for formatting
  .pre-commit-config.yaml
Labels: ci/cd

style: apply black formatting (ruff-format disabled)
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/services/order_reports.py
  app/services/reports.py
Labels: handlers, services

Fix linter errors across scripts and tests
  scripts/backup_db.py
  scripts/check_user_role.py
  scripts/create_order_reports_city1.py
  scripts/create_order_reports_city2.py
  scripts/export_db.py
  scripts/import_db.py
  scripts/parse_telegram_export.py
  scripts/prepare_volumes.py
  scripts/test_handlers_realtime.py
  tests/unit/test_presenters.py
  tests/unit/test_pydantic_schemas.py
  tests/unit/test_scheduled_time.py
Labels: tests

Fix remaining linter errors
  scripts/create_order_reports_city1.py
  scripts/create_order_reports_city2.py
  scripts/prepare_volumes.py
  tests/unit/test_presenters.py
Labels: tests

Ignore intentional security warnings in scripts directory
  pyproject.toml
Labels: dependencies

Fix comment formatting in prepare_volumes.py
  scripts/prepare_volumes.py
Labels: none

Fix comment formatting in prepare_volumes.py
  scripts/prepare_volumes.py
Labels: none

Format code to match ruff formatter requirements
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/services/order_reports.py
  app/services/reports.py
  scripts/check_database.py
  scripts/check_user_role.py
  scripts/set_user_role.py
Labels: handlers, services

Format code with Black formatter
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/services/order_reports.py
  app/services/reports.py
  scripts/check_database.py
  scripts/prepare_volumes.py
Labels: handlers, services

Fix test failures
  tests/integration/test_database.py
  tests/unit/test_config.py
Labels: tests

Format test_database.py with Black
  tests/integration/test_database.py
Labels: tests

Fix Python 3.13 CI: Add build dependencies for asyncpg
  .github/workflows/ci.yml
Labels: ci/cd

Include consumable materials in total amount for financial reports
  app/services/financial_reports.py
Labels: services

Format code with black
  app/services/financial_reports.py
Labels: services

Fix OrderType NameError in scheduler.py TypedDict
  app/services/scheduler.py
Labels: services

Add ORM support to ExcelExportService using get_session()
  app/services/excel_export.py
  app/services/master_reports.py
  app/services/master_reports_detailed.py
Labels: services

Show net profit instead of total amount in master reports sheets
  app/services/excel_export.py
Labels: services

Add ORM support to ExcelExportService using get_session() context manager
  app/services/excel_export.py
Labels: services

Update status display in Excel exports: show 'РћС‚РєР°Р·' for master refusal and 'РћС‚РјРµРЅР°' for dispatcher cancellation
  app/services/excel_export.py
Labels: services

Add materials column to monthly master summary table
  app/services/master_reports_detailed.py
Labels: services

Add materials column to master sheets in monthly summary report
  app/services/master_reports_detailed.py
Labels: services

Fix sum discrepancies and add materials column to master reports
  app/services/master_reports.py
  app/services/master_reports_detailed.py
Labels: services

Add materials column to masters statistics table and remove duplicate summary table
  app/services/excel_export.py
  app/services/master_reports.py
Labels: services

Add materials column for each order in completed orders table
  app/services/master_reports.py
Labels: services

Fix refuse order for dispatchers/admins and change button text to Cancel for ASSIGNED status
  app/handlers/master.py
  app/keyboards/inline.py
Labels: handlers, ui

Improve notification logic for order refusal: add user type handling and better formatting
  app/handlers/master.py
Labels: handlers

Format excel_export.py with Black
  app/services/excel_export.py
Labels: services

Fix asyncpg build: Add libpq-dev and update build tools
  .github/workflows/ci.yml
Labels: ci/cd

Skip asyncpg installation on Python 3.13 in CI
  .github/workflows/ci.yml
Labels: ci/cd

Fix asyncpg skip for Python 3.13: Use Python instead of grep
  .github/workflows/ci.yml
Labels: ci/cd

Fix asyncpg skip: Use sed and fallback for Python 3.13
  .github/workflows/ci.yml
Labels: ci/cd

Fix asyncpg skip: Install packages one by one for Python 3.13
  .github/workflows/ci.yml
Labels: ci/cd

Fix asyncpg skip: Use explicit shell and grep -v
  .github/workflows/ci.yml
Labels: ci/cd

Fix asyncpg skip: Use Python script for reliable filtering
  .github/workflows/ci.yml
Labels: ci/cd
