Repository Adel7418/Status_bot, changes with the labels that .github/labeler.yml gives for each.
All labels: handlers, middleware, services, database, ui, tests, documentation, dependencies, docker, ci/cd, security, migration, configuration

.github/labeler.yml:

# Автоматическая маркировка Pull Requests на основе измененных файлов

# Handlers
'handlers':
  - changed-files:
    - any-glob-to-any-file: 'app/handlers/**/*'

# Middleware
'middleware':
  - changed-files:
    - any-glob-to-any-file: 'app/middlewares/**/*'

# Services
'services':
  - changed-files:
    - any-glob-to-any-file: 'app/services/**/*'

# Database
'database':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/database/**/*'
      - 'migrations/**/*'

# UI/Keyboards
'ui':
  - changed-files:
    - any-glob-to-any-file: 'app/keyboards/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'pyproject.toml'
      - 'setup.py'

# Docker
'docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/utils/pii_masking.py'
      - 'app/middlewares/rate_limit.py'

# Migrations
'migration':
  - changed-files:
    - any-glob-to-any-file: 'migrations/versions/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/config.py'
      - 'app/core/config.py'
      - 'alembic.ini'
      - '.env*'

# Breaking change (по ключевым словам в заголовке)
'breaking-change':
  - head-branch: ['^breaking/', '^major/']

Improve message for new clients when phone number not found
  app/handlers/dispatcher.py
Labels: handlers

Add logging to debug order creation process continuation
  app/handlers/dispatcher.py
Labels: handlers

Add more detailed logging to debug phone processing
  app/handlers/dispatcher.py
Labels: handlers

Add debug handler for unhandled messages to diagnose FSM state issues
  app/handlers/common.py
Labels: handlers

Fix admin order editing functionality
  app/handlers/admin.py
  app/states.py
Labels: handlers

Fix LONG_REPAIR order completion functionality
  app/handlers/master.py
  app/keyboards/inline.py
Labels: handlers, ui

Fix client name validation for short names
  app/schemas/order.py
Labels: none

Fix client name validation in OrderUpdateSchema
  app/schemas/order.py
Labels: none

Fix client name validation in dispatcher handler
  app/handlers/dispatcher.py
Labels: handlers

Add delete_order command and fix client name validation
  app/handlers/admin.py
  app/handlers/dispatcher.py
  app/handlers/group_interaction.py
  app/handlers/master.py
  app/schemas/order.py
  app/services/scheduler.py
  delete_long_repair_order.py
  delete_order_direct.py
  simple_delete_order.py
Labels: handlers, services

feat: add /delete_order command and fix access rights
  CHANGELOG.md
  VERSION
Labels: documentation

fix: update order_reports.py to use ORMDatabase
  app/services/order_reports.py
Labels: services

fix: correct get_yes_no_keyboard function call in delete_order command
  app/handlers/admin.py
Labels: handlers

fix: allow DR to REFUSED status transition
  app/domain/order_state_machine.py
Labels: none

fix: update btn_settings_dispatcher to use ORMDatabase
  app/handlers/dispatcher.py
Labels: handlers

Fix SLA notifications and User model method calls
  app/handlers/admin.py
  app/handlers/dispatcher.py
  app/handlers/group_interaction.py
  app/handlers/master.py
  app/schemas/order.py
  delete_long_repair_order.py
  delete_order_direct.py
  simple_delete_order.py
Labels: handlers

Fix callback_reports_menu error handling
  app/handlers/financial_reports.py
Labels: handlers

Apply safe_edit_message to more report functions
  app/handlers/financial_reports.py
Labels: handlers

Fix syntax error in financial_reports.py
  app/handlers/financial_reports.py
Labels: handlers

Fix infinite recursion in safe_edit_message function
  app/handlers/financial_reports.py
Labels: handlers

feat: Add order search functionality by phone and address
  app/handlers/__init__.py
  app/handlers/order_search.py
  app/keyboards/inline.py
  app/keyboards/reply.py
  app/services/order_search.py
  app/states.py
  docs/ORDER_SEARCH_GUIDE.md
Labels: handlers, services, ui, documentation

fix: Apply pre-commit hook fixes for order search functionality
  app/handlers/order_search.py
  app/keyboards/inline.py
Labels: handlers, ui

fix: Improve address search to handle Cyrillic characters properly
  app/services/order_search.py
Labels: services

fix: Fix HTML parsing error in delete_order command
  app/handlers/admin.py
Labels: handlers

feat: Add master information to delete_order command
  app/handlers/admin.py
Labels: handlers

fix: Exclude deleted orders from master menu and notify master on deletion
  app/database/db.py
  app/database/orm_database.py
  app/handlers/admin.py
Labels: handlers, database

docs: Update documentation and version to v2.4.0
  CHANGELOG.md
  README.md
  RELEASE_v2.4.0.md
  VERSION
  docs/README.md
  pyproject.toml
Labels: documentation, dependencies

Fix LONG_REPAIR status issue
  PRODUCTION_FIX_LONG_REPAIR.md
  QUICK_FIX_SERVER.md
  app/handlers/master.py.backup
  fix_code_production.ps1
  fix_code_production.sh
  fix_long_repair_production.py
Labels: handlers, documentation

Clean up: Remove temporary fix files
  PRODUCTION_FIX_LONG_REPAIR.md
  QUICK_FIX_SERVER.md
  app/handlers/master.py.backup
  fix_code_production.ps1
  fix_code_production.sh
  fix_long_repair_production.py
Labels: handlers, documentation

Fix SQL parameter binding for OrderStatus.DR
  app/handlers/master.py
Labels: handlers

feat: UX improvements - remove phone button and add time auto-detection
  app/handlers/group_interaction.py
  app/keyboards/inline.py
  app/utils/date_parser.py
Labels: handlers, ui

fix: date parsing for short year format and reports_notifier database connection
  app/keyboards/inline.py
  app/services/reports_notifier.py
  app/utils/date_parser.py
Labels: services, ui

fix: РёСЃРїСЂР°РІР»РµРЅР° РѕС€РёР±РєР° РёРјРїРѕСЂС‚Р° Database РїСЂРё РѕРїСЂРµРґРµР»РµРЅРёРё СЂРѕР»Рё РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ
  app/handlers/master.py
Labels: handlers

fix: РёСЃРїСЂР°РІР»РµРЅР° РѕС€РёР±РєР° РёРјРїРѕСЂС‚Р° Database Рё СѓР»СѓС‡С€РµРЅРѕ РѕРїСЂРµРґРµР»РµРЅРёРµ СЂРѕР»Рё РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ
  app/handlers/master.py
Labels: handlers

docs: РґРѕР±Р°РІР»РµРЅ РїР»Р°РЅ РјРёРіСЂР°С†РёРё РЅР° РїРѕР»РЅС‹Р№ ORM
  docs/ORM_MIGRATION_PLAN.md
Labels: documentation

chore: РѕР±РЅРѕРІР»РµРЅ CHANGELOG РґР»СЏ РІРµСЂСЃРёРё v2.5.0
  CHANGELOG.md
Labels: documentation

feat: РґРѕР±Р°РІР»РµРЅС‹ РЅРѕРІС‹Рµ С‚РёРїС‹ С‚РµС…РЅРёРєРё
  app/core/constants.py
Labels: none

fix: callback data length issue fixed
  app/core/constants.py
Labels: none

fix: shortened oven name to DSH VP
  app/core/constants.py
Labels: none

feat: added after time support
  app/utils/date_parser.py
Labels: none
