Repository Adel7418/Status_bot, changes with the labels that .github/labeler.yml gives for each.
All labels: handlers, middleware, services, database, ui, tests, documentation, dependencies, docker, ci/cd, security, migration, configuration

.github/labeler.yml:

# Автоматическая маркировка Pull Requests на основе измененных файлов

# Handlers
'handlers':
  - changed-files:
    - any-glob-to-any-file: 'app/handlers/**/*'

# Middleware
'middleware':
  - changed-files:
    - any-glob-to-any-file: 'app/middlewares/**/*'

# Services
'services':
  - changed-files:
    - any-glob-to-any-file: 'app/services/**/*'

# Database
'database':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/database/**/*'
      - 'migrations/**/*'

# UI/Keyboards
'ui':
  - changed-files:
    - any-glob-to-any-file: 'app/keyboards/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'pyproject.toml'
      - 'setup.py'

# Docker
'docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/utils/pii_masking.py'
      - 'app/middlewares/rate_limit.py'

# Migrations
'migration':
  - changed-files:
    - any-glob-to-any-file: 'migrations/versions/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/config.py'
      - 'app/core/config.py'
      - 'alembic.ini'
      - '.env*'

# Breaking change (по ключевым словам в заголовке)
'breaking-change':
  - head-branch: ['^breaking/', '^major/']

Add table creation logic to migration for empty databases
  migrations/versions/add_missing_columns.py
Labels: database, migration

Fix: Add missing columns deleted_at and version to orders and masters tables
  PRODUCTION_DB_FIX_INSTRUCTIONS.md
  app/services/excel_export.py
  app/services/reports_notifier.py
  app/services/reports_service.py
  env.production
  fix_production_db.py
  fix_production_db.sql
  fix_production_db_columns.py
  install_dependencies.py
  migrations/versions/add_missing_columns_to_orders_masters.py
  update_production_db.py
Labels: services, database, documentation, migration

Cleanup: Remove temporary database fix files
  ORM_И_ДЕПЛОЙ_ГОТОВО.md
  PRODUCTION_DB_FIX_INSTRUCTIONS.md
  fix_production_db.py
  fix_production_db.sql
  fix_production_db_columns.py
  ПРОВЕРКА_РЕДАКТИРОВАНИЯ_DR.md
Labels: documentation

Feature: Add automatic refusal for zero-amount orders
  app/handlers/admin.py
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/keyboards/inline.py
Labels: handlers, ui

Feature: Add strict validation for long-term repair (DR) dates
  app/handlers/master.py
  app/states.py
Labels: handlers

Fix: Remove Excel export button and fix ORM database connection issues
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/keyboards/inline.py
Labels: handlers, ui

Feature: Remove short time examples and add date validation for reschedule
  app/handlers/admin.py
  app/handlers/dispatcher.py
  app/handlers/group_interaction.py
  app/handlers/master.py
  app/handlers/order_edit.py
Labels: handlers

Feature: Add date validation for order creation and remove example text
  app/handlers/admin.py
  app/handlers/dispatcher.py
  app/handlers/group_interaction.py
  app/handlers/master.py
  app/handlers/order_edit.py
Labels: handlers

Fix: Add ONSITE to REFUSED transition in State Machine
  app/domain/order_state_machine.py
Labels: none

feat: Add refuse confirmation and remove phone button
  app/handlers/admin.py
  app/handlers/master.py
  app/keyboards/inline.py
  app/states.py
Labels: handlers, ui

fix: Prevent parsing single digits as dates
  app/utils/date_parser.py
Labels: none

fix: Add proper error handling for invalid date inputs
  app/handlers/master.py
Labels: handlers

fix: Add consistent validation for single digits across all date inputs
  app/handlers/dispatcher.py
  app/handlers/master.py
Labels: handlers

fix: Correct user role parameter in get_order_actions_keyboard calls
  app/handlers/admin.py
  app/handlers/master.py
Labels: handlers

Fix callback data format for yes/no keyboard in refusal confirmation
  app/keyboards/inline.py
Labels: ui

Fix AttributeError when processing non-text messages (voice, stickers, etc.) in order handlers
  app/handlers/dispatcher.py
  app/handlers/master.py
Labels: handlers

Fix refuse order validation and add debug logging
  app/handlers/master.py
Labels: handlers

Add detailed logging for master lookup in refuse order process
  app/handlers/master.py
Labels: handlers

Fix potential error in direct SQL query for master lookup
  app/handlers/master.py
Labels: handlers

Add detailed logging for master lookup in ORM database
  app/handlers/master.py
Labels: handlers

feat: v2.3.0 - ORMDatabase improvements and Docker migration support
  .coverage
  CHANGELOG.md
  DOCKER_MIGRATION_CHECKLIST.md
  DOCKER_MIGRATION_PLAN.md
  DOCKER_QUICK_DEPLOY.md
  VERSION
  app/database/db.py
  app/database/orm_database.py
  app/decorators.py
  app/handlers/admin.py
  app/handlers/dispatcher.py
  app/handlers/financial_reports.py
  app/handlers/master.py
  app/handlers/order_edit.py
  app/keyboards/inline.py
  app/keyboards/reply.py
  app/services/active_orders_export.py
  app/services/auto_update_service.py
  app/services/excel_export.py
  app/services/master_archive_service.py
  app/services/master_reports.py
  app/services/master_reports_detailed.py
  app/services/realtime_active_orders.py
  app/services/realtime_daily_table.py
  app/services/reports_service.py
  app/services/scheduler.py
  app/states.py
  app/utils/date_parser.py
  bot.py
  docker_migrate.sh
  install_dependencies.py
  migrations/versions/add_missing_columns_to_orders_masters.py
Labels: handlers, services, database, ui, documentation, migration

fix: Update Docker migration scripts for production environment
  DOCKER_QUICK_DEPLOY.md
  docker_migrate.sh
Labels: documentation

chore: Final updates and cleanup
  app/database/db.py
  app/database/orm_database.py
  app/decorators.py
  app/handlers/admin.py
  app/handlers/dispatcher.py
  app/handlers/financial_reports.py
  app/handlers/master.py
  app/handlers/order_edit.py
  app/services/active_orders_export.py
  app/services/auto_update_service.py
  app/services/excel_export.py
  app/services/master_archive_service.py
  app/services/master_reports.py
  app/services/master_reports_detailed.py
  app/services/realtime_active_orders.py
  app/services/realtime_daily_table.py
  app/services/reports_service.py
  app/services/scheduler.py
  app/utils/date_parser.py
  bot.py
  env.production
  install_dependencies.py
Labels: handlers, services, database

feat: replace 'Dlitelnyi remont' with 'DR' in interface
  app/core/constants.py
  app/handlers/admin.py
  app/handlers/common.py
  app/handlers/group_interaction.py
  app/handlers/master.py
  app/handlers/order_edit.py
  app/keyboards/inline.py
  app/services/order_export.py
  scripts/check_database.py
Labels: handlers, services, ui

fix: replace Database with ORMDatabase in admin handlers
  app/handlers/admin.py
Labels: handlers

fix: remove .value from order.status in order_edit.py
  app/handlers/order_edit.py
Labels: handlers

fix: add missing callback handler for cancel_edit button
  app/handlers/order_edit.py
Labels: handlers

feat: add financial info display for closed orders with edit buttons
  app/handlers/admin.py
Labels: handlers

fix: add missing require_role import and audit_log migration
  app/handlers/admin.py
  migrations/versions/d0a601a63b16_add_deleted_at_to_audit_log.py
Labels: handlers, database, migration

fix: correct service name in production migration instructions
  PRODUCTION_MIGRATION_INSTRUCTIONS.md
Labels: documentation

fix: add table existence check to audit_log migration
  migrations/versions/d0a601a63b16_add_deleted_at_to_audit_log.py
Labels: database, migration

docs: update migration instructions for audit_log table check
  PRODUCTION_MIGRATION_INSTRUCTIONS.md
Labels: documentation

fix: correct fetchone() call in audit_log migration
  migrations/versions/d0a601a63b16_add_deleted_at_to_audit_log.py
Labels: database, migration

docs: add git pull step to production migration instructions
  PRODUCTION_MIGRATION_INSTRUCTIONS.md
Labels: documentation

fix: use PRAGMA table_info to check column existence in audit_log migration
  migrations/versions/d0a601a63b16_add_deleted_at_to_audit_log.py
Labels: database, migration

feat: add new migration to fix audit_log column issue
  migrations/versions/abcfdb12222b_fix_audit_log_migration.py
Labels: database, migration

docs: add troubleshooting steps for migration issues
  PRODUCTION_MIGRATION_INSTRUCTIONS.md
Labels: documentation

Add completion date column to reports and real-time active orders management
  PRODUCTION_MIGRATION_INSTRUCTIONS.md
  migrations/versions/abcfdb12222b_fix_audit_log_migration.py
  migrations/versions/create_audit_log_table.py
  migrations/versions/d0a601a63b16_add_deleted_at_to_audit_log.py
Labels: database, documentation, migration

Fix migration chain: remove create_audit_log_table, fix d0a601a63b16 reference
  PRODUCTION_MIGRATION_INSTRUCTIONS.md
  migrations/versions/create_audit_log_table.py
  migrations/versions/d0a601a63b16_add_deleted_at_to_audit_log.py
Labels: database, documentation, migration

Add client data search by phone number when creating orders
  app/database/db.py
  app/database/orm_database.py
  app/handlers/dispatcher.py
  app/keyboards/reply.py
  app/states.py
Labels: handlers, database, ui
