Repository Adel7418/Status_bot, changes with the labels that .github/labeler.yml gives for each.
All labels: handlers, middleware, services, database, ui, tests, documentation, dependencies, docker, ci/cd, security, migration, configuration

.github/labeler.yml:

# Автоматическая маркировка Pull Requests на основе измененных файлов

# Handlers
'handlers':
  - changed-files:
    - any-glob-to-any-file: 'app/handlers/**/*'

# Middleware
'middleware':
  - changed-files:
    - any-glob-to-any-file: 'app/middlewares/**/*'

# Services
'services':
  - changed-files:
    - any-glob-to-any-file: 'app/services/**/*'

# Database
'database':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/database/**/*'
      - 'migrations/**/*'

# UI/Keyboards
'ui':
  - changed-files:
    - any-glob-to-any-file: 'app/keyboards/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'pyproject.toml'
      - 'setup.py'

# Docker
'docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/utils/pii_masking.py'
      - 'app/middlewares/rate_limit.py'

# Migrations
'migration':
  - changed-files:
    - any-glob-to-any-file: 'migrations/versions/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/config.py'
      - 'app/core/config.py'
      - 'alembic.ini'
      - '.env*'

# Breaking change (по ключевым словам в заголовке)
'breaking-change':
  - head-branch: ['^breaking/', '^major/']

Fix heredoc syntax error: Use python -c instead
  .github/workflows/ci.yml
Labels: ci/cd

Fix Python indentation error: Use single-line Python code
  .github/workflows/ci.yml
Labels: ci/cd

Fix asyncpg build: add system dependencies to CI/CD workflows and Dockerfile
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test.yml
  docker/Dockerfile
Labels: docker, ci/cd

Fix Python 3.13: improve asyncpg filtering and replace sqlalchemy[asyncio] with sqlalchemy
  .github/workflows/ci.yml
Labels: ci/cd

Fix Python 3.13: fix IndentationError in asyncpg filtering script
  .github/workflows/ci.yml
Labels: ci/cd

fix: workflows tests
  .github/workflows/ci.yml
Labels: ci/cd

fix: change pre-commit Python version to 3.11 for CI compatibility
  .pre-commit-config.yaml
Labels: ci/cd

docs: consolidate Excel documentation and update code files
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/presenters/__init__.py
  app/presenters/master_presenter.py
  app/repositories/exceptions.py
  app/services/excel/__init__.py
  app/services/financial_reports.py
  app/services/master_reports_detailed.py
  app/services/order_export.py
  app/utils/helpers.py
  docs/EXCEL_DOCUMENTATION_COMPLETE.md
  docs/EXCEL_EXPORT_VALIDATION_PROMPT.md
  docs/EXCEL_VALIDATION_COMPLETE_2025-11-18.md
  docs/EXCEL_VALIDATION_REPORT_2025-11-17.md
  docs/EXCEL_VALIDATION_REPORT_FINAL_2025-11-18.md
  docs/MASTER_EXCEL_REPORTS.md
  docs/user-guides/МАСТЕР_ОТЧЕТЫ_EXCEL.md
Labels: handlers, services, documentation

feat: Add SENIOR_MASTER role and new profit rules
  .pre-commit-config.yaml
  app/core/constants.py
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/presenters/__init__.py
  app/presenters/master_presenter.py
  app/repositories/exceptions.py
  app/services/excel/__init__.py
  app/utils/helpers.py
  docs/EXCEL_DOCUMENTATION_COMPLETE.md
  docs/fix_profit_for_Boiler_and_senjor_master.md
Labels: handlers, services, documentation, ci/cd

feat: Add 50/50 profit split for ADMIN role
  app/utils/helpers.py
  docs/TODO.md
  tests/unit/test_helpers.py
Labels: tests, documentation

style: Apply formatting to test_helpers.py
  tests/unit/test_helpers.py
Labels: tests

style: Apply ruff formatting
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/services/order_reports.py
  app/services/reports.py
  app/utils/helpers.py
  scripts/check_database.py
  scripts/prepare_volumes.py
  tests/unit/test_helpers.py
Labels: handlers, services, tests

style: Apply black formatting
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/services/order_reports.py
  app/services/reports.py
  scripts/check_database.py
  scripts/prepare_volumes.py
Labels: handlers, services

fix: Add comprehensive mypy type checking and null safety
  .gitignore
  MYPY_FIXES_INSTRUCTIONS.md
  MYPY_PROGRESS.md
  README.md
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/services/excel_export.py
  docs/CHANGELOG.md
  docs/DOCKER_USAGE.md
  docs/PRODUCTION_DEPLOY.md
  docs/TODO.md
Labels: handlers, services, documentation

feat: Add SENIOR_MASTER role management UI
  app/handlers/admin.py
  app/keyboards/inline.py
Labels: handlers, ui

feat: Add database migration for SENIOR_MASTER role
  .gitignore
  CLAUDE.md
  MYPY_FIXES_INSTRUCTIONS.md
  MYPY_PROGRESS.md
  VERSION
  app/database/orm_models.py
  docs/CHANGELOG.md
  migrations/versions/f9ec1face4e2_add_senior_master_role_to_user_role_.py
Labels: database, documentation, migration

docs: Add migration guide for SENIOR_MASTER role
  docs/MIGRATION_SENIOR_MASTER.md
Labels: documentation

docs: Update migration guide for multibot architecture
  docker/docker-compose.prod.yml
  docs/CHANGELOG.md
  docs/MIGRATION_SENIOR_MASTER.md
Labels: documentation, docker

fix: Fix invalid f-string format specifier in order completion notification
  app/handlers/master.py
  docs/CHANGELOG.md
  pyproject.toml
Labels: handlers, documentation, dependencies

fix: Remove automatic order refusal when amount is 0 rubles
  app/handlers/master.py
  docs/CHANGELOG.md
  pyproject.toml
Labels: handlers, documentation, dependencies

feat: Add refrigerator equipment type with custom commission rates
  app/__init__.py
  app/core/constants.py
  app/utils/helpers.py
  docs/CHANGELOG.md
  docs/FINANCIAL_REPORTS_GUIDE.md
  docs/PROJECT_INFO.md
Labels: documentation

docs: Update CLAUDE.md with documentation reminder
  CLAUDE.md
Labels: documentation

fix: Update tests for refrigerator equipment type
  tests/unit/test_config.py
Labels: tests

style: Apply Black formatting to handlers
  app/handlers/dispatcher.py
  app/handlers/master.py
Labels: handlers

server: update envs
  env.city1
  env.city2
Labels: none

fix: Update Python version to 3.11 for GitHub Actions compatibility
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Labels: ci/cd

feat: Оптимизация умного поиска заказов (v2.8.0)
  app/__init__.py
  app/handlers/order_search.py
  app/keyboards/inline.py
  app/services/order_search.py
  app/states.py
  docs/CHANGELOG.md
  docs/ORDER_SEARCH_GUIDE.md
  docs/SMART_SEARCH_UI_PLAN.md
Labels: handlers, services, ui, documentation

feat: Improve financial information display and fix order search bugs
  app/__init__.py
  app/handlers/order_search.py
  app/services/master_reports_detailed.py
  docs/CHANGELOG.md
Labels: handlers, services, documentation
