Repository Adel7418/Status_bot, changes with the labels that .github/labeler.yml gives for each.
All labels: handlers, middleware, services, database, ui, tests, documentation, dependencies, docker, ci/cd, security, migration, configuration

.github/labeler.yml:

# Автоматическая маркировка Pull Requests на основе измененных файлов

# Handlers
'handlers':
  - changed-files:
    - any-glob-to-any-file: 'app/handlers/**/*'

# Middleware
'middleware':
  - changed-files:
    - any-glob-to-any-file: 'app/middlewares/**/*'

# Services
'services':
  - changed-files:
    - any-glob-to-any-file: 'app/services/**/*'

# Database
'database':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/database/**/*'
      - 'migrations/**/*'

# UI/Keyboards
'ui':
  - changed-files:
    - any-glob-to-any-file: 'app/keyboards/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'pyproject.toml'
      - 'setup.py'

# Docker
'docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/utils/pii_masking.py'
      - 'app/middlewares/rate_limit.py'

# Migrations
'migration':
  - changed-files:
    - any-glob-to-any-file: 'migrations/versions/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/config.py'
      - 'app/core/config.py'
      - 'alembic.ini'
      - '.env*'

# Breaking change (по ключевым словам в заголовке)
'breaking-change':
  - head-branch: ['^breaking/', '^major/']

feat: added support for 'РґРѕ 16:00' time parsing
  app/utils/date_parser.py
Labels: none

feat: added support for time intervals СЃ 10 РґРѕ 16
  app/utils/date_parser.py
Labels: none

feat: improved intervals for 'РґРѕ' and 'РїРѕСЃР»Рµ' phrases
  app/utils/date_parser.py
Labels: none

fix: parse_natural_datetime intervals format support
  app/handlers/dispatcher.py
  app/utils/date_parser.py
Labels: handlers

fix: support 'СЃ 12' interval start
  app/utils/date_parser.py
Labels: none

fix: support 'РґРѕ 12' without colon
  app/utils/date_parser.py
Labels: none

fix: removed duplicate get_now imports causing UnboundLocalError
  app/utils/date_parser.py
Labels: none

fix: removed ALL duplicate get_now imports
  app/utils/date_parser.py
Labels: none

fix: handle intervals even when parsed_dt is None
  app/handlers/dispatcher.py
Labels: handlers

fix: correct parsing of minutes in 'РґРѕ' pattern
  app/utils/date_parser.py
Labels: none

fix: support 'РґРѕ DD.MM.YYYY' date format
  app/utils/date_parser.py
Labels: none

РЈР»СѓС‡С€РµРЅС‹ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏ SLA СЃ РїРѕРЅСЏС‚РЅС‹РјРё Р·Р°РіРѕР»РѕРІРєР°РјРё Рё РїРѕРґСЃРєР°Р·РєР°РјРё
  CHANGELOG.md
  DOCKER_MIGRATION_CHECKLIST.md
  app/services/scheduler.py
  app/utils/date_parser.py
Labels: services, documentation

РСЃРїСЂР°РІР»РµРЅС‹ РѕСЃРЅРѕРІРЅС‹Рµ РѕС€РёР±РєРё Р»РёРЅС‚РµСЂР°: try-except-pass, timezone, asyncio.create_task
  app/services/scheduler.py
  app/utils/date_parser.py
Labels: services

scheduler: init _background_tasks and add 2-hour reminder deduplication to prevent repeated notifications
  app/services/scheduler.py
Labels: services

DR input: keep FSM state on invalid date/prepayment; allow retry without silence
  app/handlers/master.py
Labels: handlers

docs: move root docs into docs/ (deployment, archive); keep README.md in root
  docs/CHANGELOG.md
  docs/archive/RELEASE_v2.2.0.md
  docs/archive/RELEASE_v2.4.0.md
  docs/deployment/DOCKER_MIGRATION_PLAN.md
  docs/deployment/DOCKER_QUICK_DEPLOY.md
  docs/deployment/PRODUCTION_MIGRATION_INSTRUCTIONS.md
Labels: documentation

deploy: normalize line endings and add multi-bot compose + env examples + start scripts + docs
  START_city1.bat
  START_city2.bat
  docker/docker-compose.multibot.yml
  docs/deployment/MULTI_BOT_DEPLOY.md
  env.city1.example
  env.city2.example
Labels: documentation, docker

deploy(multibot): remove shared .env usage; use per-bot env files only
  docker/docker-compose.multibot.yml
Labels: docker

env: unify env.city1/2 examples with full config; set Redis DBs /0 and /1; enable ORM by default
  env.city1.example
  env.city2.example
Labels: none

env: clarify DATABASE_PATH comments (fixed internal path, change via docker-compose mounts)
  env.city1.example
  env.city2.example
Labels: none

env: remove DATABASE_PATH from env examples; managed via docker-compose mounts only
  env.city1.example
  env.city2.example
Labels: none

windows: use 'docker compose' in START_city1.bat/START_city2.bat
  START_city1.bat
  START_city2.bat
Labels: none

group: fix group completion FSM when admin initiates; use acting_as_master_id on initiator state
  app/handlers/group_interaction.py
Labels: handlers

group complete: robust amount parsing - strip spaces/currency, commas->dots; fix format error
  app/handlers/master.py
Labels: handlers

chore: normalize line endings; finalize multibot Makefile targets
  .env.old
  Makefile
  START_city1.bat
  START_city2.bat
  env.city1
  env.city2
  env.example
  env.production
  requirements.local.txt
Labels: dependencies, ci/cd, configuration

chore(gitignore): ignore env.city* secrets
  .gitignore
Labels: none

logging: optional file handler + LOGS_DIR; multibot logs1/logs2; add volume prep script; ignore logs1/logs2
  .gitignore
  bot.py
  docker/docker-compose.multibot.yml
  scripts/prepare_volumes.py
Labels: docker

realtime_active_orders: create empty active_orders_current.xlsx when no active orders (city2 fallback); set LOGS_DIR in envs
  app/services/realtime_active_orders.py
  env.city1
  env.city2
Labels: services

fix: update orders status CHECK constraint to match OrderStatus (ACCEPTED/ONSITE/DR instead of IN_PROGRESS/COMPLETED); add migration
  app/database/orm_models.py
  migrations/versions/fix_orders_status_check_constraint.py
Labels: database, migration

Makefile: add mb-stop-city1/2, mb-start-city1/2; update mb-migrate to stop containers before migration
  Makefile
Labels: ci/cd

migration: fix SQLite CHECK constraint update using batch_alter_table; add manual SQL script as fallback
  migrations/versions/fix_orders_status_check_constraint.py
  scripts/fix_status_constraint_city2.sql
Labels: database, migration

alembic: merge heads abcfdb12222b and fix_status_check
  migrations/versions/merge_heads_fix_status.py
Labels: database, migration

migration: guard fix_status_check for missing 'orders' table; use inspector.has_table before batch_alter_table
  migrations/versions/fix_orders_status_check_constraint.py
Labels: database, migration

close-flow: persist initiator and allowed chat; validate sender in process_total_amount; improve UX messages
  app/handlers/group_interaction.py
  app/handlers/master.py
Labels: handlers

UX: use ForceReply for order completion prompts; store prompt_message_id for validation; smoother flow with Telegram privacy
  app/handlers/group_interaction.py
  app/handlers/master.py
Labels: handlers

v2.5.0: fix validation for order completion; improve ForceReply UX; update CHANGELOG
  VERSION
  app/handlers/master.py
  docs/CHANGELOG.md
Labels: handlers, documentation

version: bump to v2.4.1 (patch release for bugfixes)
  VERSION
  docs/CHANGELOG.md
Labels: documentation

feat: add support for 'РІ С‚РµС‡РµРЅРёРµ С‡Р°СЃР°' / 'РІ С‚РµС‡РµРЅРёРё С‡Р°СЃР°' in date parser
  app/utils/date_parser.py
Labels: none

refactor: reduce minimum length validation from 10 to 4 characters for description and address fields
  app/handlers/dispatcher.py
  app/handlers/order_edit.py
  app/schemas/order.py
Labels: handlers

feat: add master_lead_name field for order creation, fix DR completion and cleanup root scripts
  app/database/db.py
  app/database/models.py
  app/database/orm_database.py
  app/database/orm_models.py
  app/handlers/dispatcher.py
  app/handlers/master.py
  app/schemas/order.py
  app/services/scheduler.py
  app/states.py
  delete_long_repair_order.py
  delete_order_direct.py
  install_dependencies.py
  migrations/versions/45a8674c6c41_add_master_lead_name_to_orders.py
  migrations/versions/4734f51bfd4b_remove_lead_source_column.py
  migrations/versions/fix_orders_status_check_constraint.py
  simple_delete_order.py
  update_production_db.py
Labels: handlers, services, database, migration
