Repository Adel7418/Status_bot, changes with the labels that .github/labeler.yml gives for each.
All labels: handlers, middleware, services, database, ui, tests, documentation, dependencies, docker, ci/cd, security, migration, configuration

.github/labeler.yml:

# Автоматическая маркировка Pull Requests на основе измененных файлов

# Handlers
'handlers':
  - changed-files:
    - any-glob-to-any-file: 'app/handlers/**/*'

# Middleware
'middleware':
  - changed-files:
    - any-glob-to-any-file: 'app/middlewares/**/*'

# Services
'services':
  - changed-files:
    - any-glob-to-any-file: 'app/services/**/*'

# Database
'database':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/database/**/*'
      - 'migrations/**/*'

# UI/Keyboards
'ui':
  - changed-files:
    - any-glob-to-any-file: 'app/keyboards/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - 'README*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'pyproject.toml'
      - 'setup.py'

# Docker
'docker':
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile'
      - 'docker-compose*.yml'

# CI/CD
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.pre-commit-config.yaml'
      - 'Makefile'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/utils/pii_masking.py'
      - 'app/middlewares/rate_limit.py'

# Migrations
'migration':
  - changed-files:
    - any-glob-to-any-file: 'migrations/versions/**/*'

# Configuration
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - 'app/config.py'
      - 'app/core/config.py'
      - 'alembic.ini'
      - '.env*'

# Breaking change (по ключевым словам в заголовке)
'breaking-change':
  - head-branch: ['^breaking/', '^major/']

Add server diagnostics script
  scripts/diagnose_server.sh
Labels: none

Fix: Docker Compose now reads env.production file correctly
  docker/docker-compose.prod.yml
Labels: docker

Add .env support for BOT_TOKEN security
  docker/docker-compose.prod.yml
  НАСТРОЙКА_ENV_НА_СЕРВЕРЕ.md
Labels: documentation, docker

Add diagnostic script for work_chat_id testing
  scripts/test_master_work_chat.py
Labels: none

Add DB configuration check and troubleshooting guide
  CHECK_DB_DIRECT.md
  scripts/check_which_db_used.py
  scripts/test_master_work_chat.py
Labels: documentation

Add debug script for get_all_masters function
  scripts/debug_get_all_masters.py
Labels: none

Fix: get_all_masters() now correctly reads work_chat_id from sqlite3.Row
  app/database/db.py
Labels: database

Add order restoration from Telegram history
  scripts/restore_order_manually.py
  ВОССТАНОВЛЕНИЕ_ИЗ_TELEGRAM.md
Labels: documentation

Add Telegram export parser for automatic order restoration
  scripts/parse_telegram_export.py
Labels: none

Add start_from filter to Telegram export parser
  scripts/parse_telegram_export.py
Labels: none

Add final order restoration instruction
  ИНСТРУКЦИЯ_ВОССТАНОВЛЕНИЕ_ЗАЯВОК.md
Labels: documentation

Add support for new order message format parsing
  scripts/parse_telegram_export.py
Labels: none

fix: v2.1.2 - РџРѕРґРґРµСЂР¶РєР° РІР°СЂРёР°РЅС‚Р° РїРѕСЃР»Рµ Р·Р°РІС‚СЂР° СЃ РїСЂРѕР±РµР»РѕРј РІ Р°РІС‚РѕРѕРїСЂРµРґРµР»РµРЅРёРё РґР°С‚
  CHANGELOG.md
  HOTFIX_DATE_PARSER.md
  VERSION
  app/utils/date_parser.py
Labels: documentation

feat: v2.2.0 - РЎРёСЃС‚РµРјР° СЂРµРґР°РєС‚РёСЂРѕРІР°РЅРёСЏ Р·Р°СЏРІРѕРє Рё СѓР»СѓС‡С€РµРЅРёСЏ Р°РІС‚РѕРѕРїСЂРµРґРµР»РµРЅРёСЏ РґР°С‚
  CHANGELOG.md
  VERSION
  app/database/db.py
  app/handlers/__init__.py
  app/handlers/admin.py
  app/handlers/group_interaction.py
  app/handlers/order_edit.py
  app/keyboards/inline.py
Labels: handlers, database, ui, documentation

fix: РСЃРїСЂР°РІР»РµРЅР° РєРѕРјР°РЅРґР° prod-deploy - Р»РѕРіРё Р±РѕР»СЊС€Рµ РЅРµ Р±Р»РѕРєРёСЂСѓСЋС‚ С‚РµСЂРјРёРЅР°Р»
  Makefile
  RELEASE_v2.2.0.md
Labels: documentation, ci/cd

Add automatic backup system with APScheduler and Cron
  app/services/scheduler.py
  scripts/cron_backup.sh
  НАСТРОЙКА_АВТОБЭКАПОВ.md
  СИСТЕМА_АВТОБЭКАПОВ.md
Labels: services, documentation

fix: РЈРґР°Р»РµРЅС‹ РѕРїР°СЃРЅС‹Рµ РєРѕРјР°РЅРґС‹ РѕС‡РёСЃС‚РєРё РёР· Makefile (clean, prod-clean)
  Makefile
Labels: ci/cd

Add BACKUP_ENABLED config parameter
  app/core/config.py
Labels: configuration

Add ability to edit completion date and prepayment for DR orders
  app/handlers/master.py
  app/keyboards/inline.py
  app/states.py
Labels: handlers, ui

Add testing instructions for DR editing feature
  MAKEFILE_КОМАНДЫ_ШИФРОВАНИЕ.md
  docs/ENCRYPTION_GUIDE.md
  scripts/README.md
  КАК_ПРОВЕРИТЬ_ШИФРОВАНИЕ.md
  ПРОВЕРКА_РЕДАКТИРОВАНИЯ_DR.md
Labels: documentation

feat: Add encryption testing and validation tools
  Makefile
  check_encryption_db.bat
  env.example
  env.production
  scripts/check_encryption_in_db.py
  scripts/test_encryption.py
  test_encryption.bat
Labels: ci/cd

Restrict DR details editing to admins and dispatchers only
  app/handlers/master.py
  app/keyboards/inline.py
Labels: handlers, ui

refactor: Remove database encryption feature
  MAKEFILE_КОМАНДЫ_ШИФРОВАНИЕ.md
  Makefile
  app/utils/encryption.py
  check_encryption_db.bat
  docs/ENCRYPTION_GUIDE.md
  docs/SECURITY_WITHOUT_ENCRYPTION.md
  env.example
  env.production
  scripts/README.md
  scripts/check_encryption_in_db.py
  scripts/test_encryption.py
  test_encryption.bat
  КАК_ПРОВЕРИТЬ_ШИФРОВАНИЕ.md
Labels: documentation, ci/cd

Refactor: integrate DR editing into main edit menu, add DR validation, remove completed filter
  app/handlers/master.py
  app/handlers/order_edit.py
  app/keyboards/inline.py
Labels: handlers, ui

Allow updating DR fields: enable estimated_completion_date and prepayment_amount in Database.update_order_field
  app/database/db.py
  app/database/orm_models.py
  app/handlers/group_interaction.py
  app/handlers/master.py
  app/keyboards/inline.py
  app/states.py
Labels: handlers, database, ui

Fix timezone and syntax errors
  app/database/db.py
  app/database/models.py
  app/database/orm_database.py
  app/handlers/admin.py
  app/handlers/dispatcher.py
  app/handlers/group_interaction.py
  app/handlers/master.py
  app/services/order_reports.py
  app/services/reports_service.py
Labels: handlers, services, database

Add detailed database connection logging and fix data directory
  app/database/db.py
  app/database/orm_database.py
  app/handlers/group_interaction.py
  app/handlers/master.py
  bot.py
Labels: handlers, database

Force USE_ORM=true in Docker production environment
  docker/docker-compose.prod.yml
Labels: docker

Set .env as lowest priority and remove USE_ORM from environment
  docker/docker-compose.prod.yml
Labels: docker

Fix UTF-8 encoding for Russian text in Docker logs
  docker/Dockerfile
  docker/docker-compose.prod.yml
Labels: docker

ORM: implement update_order_field for handler compatibility (DR fields allowed)
  app/database/orm_database.py
Labels: database

Fix all Unicode encoding errors
  app/services/scheduler.py
  bot.py
Labels: services

Fix SQLAlchemy boolean comparison in ORM
  app/database/orm_database.py
Labels: database

Fix Unicode encoding errors in logging
  app/database/orm_database.py
  app/middlewares/logging.py
Labels: middleware, database

Fix Excel master statistics display issues
  app/services/excel_export.py
Labels: services

Fix Excel file encoding and download issues
  app/handlers/dispatcher.py
  app/handlers/financial_reports.py
  app/handlers/master.py
  app/services/excel_export.py
  app/services/master_reports.py
  app/services/reports_service.py
Labels: handlers, services

Fix bare except clauses in reports_service.py
  env.production
Labels: none

Add missing columns to users table via Alembic migration
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/.gitkeep
  migrations/versions/001_initial_schema.py
  migrations/versions/002_add_financial_reports.py
  migrations/versions/003_add_dr_fields.py
  migrations/versions/004_add_order_reports.py
  migrations/versions/005_add_reschedule_fields.py
  migrations/versions/006_add_performance_indexes.py
  migrations/versions/008_add_soft_delete.py
  migrations/versions/010_create_master_reports_archive.py
  migrations/versions/011_safe_rename_master_reports.py
  migrations/versions/add_missing_columns.py
Labels: database, migration

Fix migration to check columns before adding them
  migrations/versions/add_missing_columns.py
Labels: database, migration

Simplify migration to use direct SQL checks instead of inspector
  migrations/versions/add_missing_columns.py
Labels: database, migration
